# Flask Config
DEBUG
SECRET_KEY
MAX_CONTENT_LENGTH
STATIC_FOLDER
TEMPLATES_FOLDER
# Run Tests
TESTING

# Flask-RESTX
ERROR_INCLUDE_MESSAGE
SWAGGER_UI_DOC_EXPANSION

# Flask-SQLAlchemy Config
SQLALCHEMY_DATABASE_URI
SQLALCHEMY_ECHO

# SQLAlchemy
ECHO
POOL_SIZE
MAX_OVERFLOW
EXPIRE_ON_COMMIT
AUTOCOMMIT
AUTOFLUSH

# DataBase Connection in Docker
# Required
DB_DRIVER=postgresql
DB_DRIVER_EXTENSION=psycopg2
DB_USER=docker_pg_user
DB_PASSWORD=123456
DB_HOST=postgres_server
DB_PORT=5432
DB_NAME=docker_test_db

# Postgres Server
# Required
POSTGRES_USER=${DB_USER}
POSTGRES_PASSWORD=${DB_PASSWORD}
POSTGRES_DB=${DB_NAME}

# PGAdmin
# Required
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# JWT Encrypt
# Required
PRIVATE_KEY
PUBLIC_KEY
