{% extends "base.html" %}
{% block title %}Профиль пользователя{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h2>Профиль пользователя</h2>
        <div class="card p-3 mt-3 card-custom-width">
            <p>
                <strong>Username:</strong> <span id="username">{{ user_data.username }}</span>
            </p>
            <p>
                <strong>Token ID (jti):</strong> <span id="jti">{{ user_data.jwt_token_ident }}</span>
            </p>
            <p>
                <strong>Выпущен (iat):</strong> <span id="iat">{{ user_data.issued_at_datetime.strftime("%d.%m.%Y %H:%M:%S") }}</span>
            </p>
            <p>
                <strong>Истекает (exp):</strong>
                <span id="exp"
                      data-timestamp="{{ (user_data.expired_at_datetime.timestamp() * 1000) | int }}">
                    {{ user_data.expired_at_datetime.strftime("%d.%m.%Y %H:%M:%S") }}
                </span>
            </p>
            <p>
                <strong>Обратный отсчёт:</strong> <span id="countdown">-</span>
            </p>
            <form method="post" action="/logout">
                <button type="submit" class="btn btn-danger mt-3">Выйти</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}<script src="{{ url_for('static', path='/js/me-profile.js') }}"></script>{% endblock %}
