<form method="post" action="{{ url_for("add_note_page") }}">
    {% if date %}
        <input type="hidden" name="bedtime_date" value="{{ date }}" />
    {% else %}
        <div class="row justify-content-center mb-3">
            <div class="col-md-3 col-12">
                <label class="form-label" for="bedtime_date">Дата</label>
                <input required
                       type="date"
                       name="bedtime_date"
                       id="bedtime_date"
                       class="form-control"
                       value="{{ today_date }}" />
            </div>
        </div>
    {% endif %}
    <div class="row justify-content-center mb-3">
        <div class="col-6 col-lg-2 mb-3">
            <label class="form-label fw-bold small" for="went_to_bed">Лег в кровать</label>
            <input required
                   type="time"
                   name="went_to_bed"
                   id="went_to_bed"
                   class="form-control text-center"
                   value="23:00" />
        </div>
        <div class="col-6 col-lg-2 mb-3">
            <label class="form-label fw-bold small" for="fell_asleep">Уснул в</label>
            <input required
                   type="time"
                   name="fell_asleep"
                   id="fell_asleep"
                   class="form-control text-center"
                   value="23:30" />
        </div>
        <div class="col-6 col-lg-2 mb-3">
            <label class="form-label fw-bold small" for="woke_up">Проснулся в</label>
            <input required
                   type="time"
                   name="woke_up"
                   id="woke_up"
                   class="form-control text-center"
                   value="07:00" />
        </div>
        <div class="col-6 col-lg-2 mb-3">
            <label class="form-label fw-bold small" for="got_up">Встал с кровати</label>
            <input required
                   type="time"
                   name="got_up"
                   id="got_up"
                   class="form-control text-center"
                   value="07:30" />
        </div>
        <div class="col-6 col-lg-2 mb-3">
            <label class="form-label fw-bold small" for="no_sleep">Время без сна</label>
            <input required
                   type="time"
                   name="no_sleep"
                   id="no_sleep"
                   class="form-control text-center"
                   value="00:00" />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <button type="submit" class="btn btn-success me-2">Сохранить запись</button>
            <button type="reset" class="btn btn-outline-secondary">Очистить</button>
        </div>
    </div>
</form>
