{% extends 'base.html' %}
{% block title %}Редактировать запись - Дневник сна{% endblock %}
{% block content %}
    <link href="{{ url_for('static', path='/css/sleepForms.css') }}"
          rel="stylesheet" />
    <div class="container-fluid">
        <div class="row justify-content-center">
            <h4 class="alert alert-primary m-1 text-center">Дневник сна</h4>
        </div>
        {% include 'note_form.html' %}
        <div class="row justify-content-center mt-4">
            <div class="col-12 text-center">
                <a href="{{ url_for("weeks_info_page") }}"
                   class="btn btn-outline-primary">
                    <i class="bi bi-arrow-left"></i>
                    Назад к дневнику
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}<script src="{{ url_for('static', path='/js/noteForm.js') }}"></script>{% endblock %}
