<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div class="menu">
    <header>
      <ul class="spisok-v-stroku">
        <li><a class="shapka" href="/main" >Главная</a></li>
        <li><a class="shapka" href="/login" >Логин</a></li>
        <li><a class="shapka" href="/data_form" >Ввод данных</a></li>
        <li><a class="shapka" href="/analytics" >Аналитика</a></li>
        <li><a class="shapka" href="/support" >Поддержка</a></li>
      </ul>

    </header>
</div>

    {% block body %}{% endblock %}
</body>
</html>



