{% extends 'base.html' %}
{% block title %}
Дневник сна базе слип
{% endblock %}

{% block body %}
    <div class="row justify-content-center">
    <h4 class="alert alert-primary m-1 text-center">Добавление записи</h4>
    </div>
    <div class="container-fluid text-center mt-4">
{#        Форма добавления записи в дневник#}
        {% block addnotation %}{% endblock %}
{#        Форма добавления записи в дневник#}
        {% block edit %}{% endblock %}
{#        Аккордион с записями дневника из бд #}
        <div class="accordion mt-5" id="week-menu">
        {% if db_elem_counter == 0 %}
        <div class="alert alert-info m-1">
            У вас еще нет записей в дневнике сна
        </div>
        {% else %}
        {% for nedelya in range(1,7) if db_elem_counter > 0  %}
            {% if db_elem_counter > 0 %}
{#Неделя 1#}
            <div class="accordion-item">
                <div class="accordion-header">
                    {# Кнопка(голова) аккордиона с неделями #}
                    <div class="accordion-header">
                          <button class="accordion-button {% if nedelya == 1 %}{% else %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#week{{ nedelya }}">
                            <b>Неделя {{ nedelya }}</b>
                            {% if check_notations(nedelya) == 0 %}
                            <div class="alert alert-dark m-1">
                                Записи отсутствуют
                            </div>
                            {% else %}
                            {% if 0 < check_notations(nedelya) < 7 %}
                            <div class="alert alert-info m-1">
                                Количество записей {{ check_notations(nedelya) }}/7
                            </div>
                            {% else %}
                            <div class="alert alert-success m-1">
                                Количество записей {{ check_notations(nedelya) }}/7
                            </div>
                            {% endif %}
                            {% endif %}
                          </button>
            {% endif %}
                    </div>
                    {# Тело аккордиона с неделями #}
                    <div id="week{{ nedelya }}" class="accordion-collapse collapse {% if nedelya == 1 %}show{% endif %}" data-bs-parent="#week-menu">  {# Дни show #}
                        <div class="accordion-body row justify-content-center">
                            <div class="col-12 col-md-8">
                            {# Дни #}
                                <div class="accordion" id="daymenu">
                                {% for el in notations if el.id <= (nedelya * 7) and el.id > ((nedelya - 1) * 7) %}
                                    <div class="my-2">
                                        <!-- items -->
                                        <div class="accordion-item">
                                            {# Кнопка(голова) аккордиона с днями #}
                                            <div class="accordion-header">
                                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#item{{ el.id }}">
                                                 День {{ el.id }}
                                              </button>
                                            </div>
                                            {# Тело аккордиона с днями #} <!-- класс show делает пункт открытым -->
                                            <div id="item{{ el.id }}" class="accordion-collapse collapse" data-bs-parent="#daymenu">
                                                  <div class="accordion-body">
                                                      <p><b>Дата:</b> {{ el.date }}</p>
                                                      <p><b>Лег в</b> {{ h_m(el.leg) }} | <b>Уснул в</b> {{ h_m(el.usnul) }}</p>
                                                      <p><b>Проснулся в</b> {{ h_m(el.prosnul) }} | <b>Встал в</b> {{ h_m(el.vstal) }}</p>
                                                      <p><b>Не спал минут - </b> {{ el.nespal }} </p>
                                                      <p><b>Время сна</b> - {{ h_m(el.spal) }} | <b>Время в кровати</b> - {{ h_m(el.vkrovati) }}</p>
                                                      <h5>Эффективность сна - <b>{{ eff(el.spal, el.vkrovati) }}</b> %<br></h5>
                                                      <div class="mt-3">
                                                        {% if last_day(el.id) %}<a href="/sleep/{{ el.id }}/delete" class="btn btn-danger">Удалить</a>{% endif %}
                                                        <a href="/sleep/{{ el.id }}/update" class="btn btn-success">Редактировать</a>
                                                      </div>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                            {# Эффективность сна #}
                            <div class="col-12 col-md-4 mt-md-0">
                                <div class="mt-2">
                                    Эффективность сна за неделю {{ nedelya }}<br>
                                    <h3>{{ eff_sleep_of_week(nedelya) }} %</h3><br>
                                    Среднее время сна за неделю {{ nedelya }}
                                    <h3>{{ h_m(avg_duration_sleep_of_week(nedelya)) }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
        </div>
    </div>

{% endblock %}
