{% extends 'base.html' %}

{% block title %}
Ввод данных
{% endblock %}

{% block body %}
    <h4 class="bord"> Здесь будут формы для ввода данных. Оценка дня, неограниченное количество вводимых факторов(сон, еда, активность, вещества) и их количественная мера </h4>
    <section>Форма для заполнения. Надо чтобы при входе на страницу появлялось формы для двух вводов и после ввода во вторую появлялась еще одна и так далее
        <div class="container-fluid bord">
            <form class="row gy-2 gx-3 py-2 justify-content-center">
                <div class="col-7 py-2 justify-self-center">
                    <label class="sr-only" for="autoSizingInput">Оценка</label>
                    <input type="text" class="form-control" id="autoSizingInput" placeholder="7">
                </div>
                <div class="col-md-6 col-12">
                    <label class="sr-only" for="autoSizingInput">Наименование</label>
                    <input type="text" class="form-control" id="autoSizingInput" placeholder="Кофеин">
                </div>
                <div class="col-md-6 col-12">
                    <label class="sr-only" for="autoSizingInputGroup">Количество и единицы измерения</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="200">
                        <select class="form-select-sm" id="Select">
                            <option selected>Выбрать...</option>
                            <option value=gram>Грамм</option>
                            <option value="milligram">Миллиграмм</option>
                            <option value="hour">Час</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <label class="sr-only">Наименование</label>
                    <input type="text" class="form-control" id={{ id }} placeholder="Сон">
                </div>
                <div class="col-md-6 col-12">
                    <label class="sr-only">Количество и единицы измерения</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="8">
                        <select class="form-select-sm" id="Select">
                            <option selected>Выбрать...</option>
                            <option value="gram">Грамм</option>
                            <option value="milligram">Миллиграмм</option>
                            <option value="hour">Час</option>
                        </select>
                    </div>
                </div>

                <div class="col-auto gy-2 py-2">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>

            </form>
        </div>
    </section>
{% endblock %}