{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}

<div class="text-center">
    <div class="row justify-content-center">
    <h1 class="alert alert-primary m-2 w-50 text-center">Дневник сна</h1>
    <h4 class="alert alert-primary m-2 text-center">Ежедневный учет времени отхода ко сну, засыпания, пробуждения и
        подъема, а также времени нахождения в кровати без сна. После заполнения одного дня, будет рассчитано время сна и
        время проведенное в кровати, затем на их основе определяется эффективность сна.
        Также, при заполнении дневника сна, рассчитывается средняя эффективность и время сна в рамках одной недели.</h4>
    </div>
</div>
{% endblock %}