{% extends 'basesleep.html' %}
{% block title %}
Дневник сна
{% endblock %}
{% block addnotation %}
        <div class=" p-2">
            <form class="row justify-content-center" method="POST">
                <div class="col-md-6 col-12 mx-5">
                    <label class="sr-only" for="date">Дата</label>
                    <input type="date" name="date" id="date" class="form-control" placeholder="22.12.2021">
                </div>
                <div class="col-md-6 col-12">
                    <label class="sr-only" for="week">Неделя</label>
                    <input type="number" name="week" id="week" min="1" max="6" class="form-control"  placeholder="1-6">
                </div>
                <div class="col-md-6 col-12">
                     <label class="sr-only" for="day">День</label>
                    <input type="number" name="day" id="day" min="1" max="7" class="form-control"  placeholder="1-7">
                </div>
                <div class="col-md-6 col-12">
                    <label class="sr-only" for="leg">Лег</label>
                    <input type="time" name="leg" id="leg" class="form-control"  placeholder="22:30">
                </div>
                <div class="col-md-6 col-12">
                    <label class="sr-only" for="usnul">Уснул</label>
                    <input type="time" name="usnul" id="usnul" class="form-control" placeholder="22:50">
                </div>
                <div class="col-md-6 col-12">
                    <label class="sr-only" for="prosnul">Проснулся</label>
                    <input type="time" name="prosnul" id="prosnul" class="form-control" placeholder="7:20">
                </div>
                <div class="col-md-6 col-12">
                    <label class="sr-only" for="vstal">Встал</label>
                    <input type="time" name="vstal" id="vstal" class="form-control" placeholder="7:35">
                </div>
                <div class="col-md-6 col-12 mx-5">
                    <label class="sr-only" for="nespal">Не спал</label>
                    <input type="time" name="nespal" id="nespal" class="form-control" placeholder="Количество минут">
                </div>
                <input type="submit"  class="btn btn-success m-5" value="Отправить">
            </form>
        </div>

{% endblock %}