<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/headers/">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/notebook.png') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <div class="px-3 py-2 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center">
          <ul class="nav col-12 col-lg-auto my-2 my-md-0 justify-content-center text-small">
            <li>
              <a href="{{ url_for('get_main_page') }}" class="nav-link text-white mx-3">
                <svg class="bi d-block mx-auto mb-1" width="26" height="26" viewBox="0 0 512 512">
                    <path fill="currentColor" d="M279.135 512c78.756 0 150.982-35.804 198.844-94.775 28.27-34.831-2.558-85.722-46.249-77.401-82.348 15.683-158.272-47.268-158.272-130.792 0-48.424 26.06-92.292 67.434-115.836 38.745-22.05 28.999-80.788-15.022-88.919A257.936 257.936 0 0 0 279.135 0c-141.36 0-256 114.575-256 256 0 141.36 114.576 256 256 256zm0-464c12.985 0 25.689 1.201 38.016 3.478-54.76 31.163-91.693 90.042-91.693 157.554 0 113.848 103.641 199.2 215.252 177.944C402.574 433.964 344.366 464 279.135 464c-114.875 0-208-93.125-208-208s93.125-208 208-208z"></path></svg>
                Main
              </a>
            </li>
            <li>
              <a href="{{ url_for('edit_diary') }}" class="nav-link text-white ">
                <svg class="bi d-block mx-auto mb-1" width="24" height="28"><use href="/static/img/bootstrap-icons.svg#journal-code"></use></svg>
                Edit Diary
              </a>
            </li>
            <li>
              <a href="{{ url_for('get_sleep_diary_entries') }}" class="nav-link text-white">
                  <svg class="bi d-block mx-auto mb-1" width="30" height="28" viewBox="0 0 640 512"><path fill="currentColor" d="M176 256c44.11 0 80-35.89 80-80s-35.89-80-80-80-80 35.89-80 80 35.89 80 80 80zm352-128H304c-8.84 0-16 7.16-16 16v144H64V80c0-8.84-7.16-16-16-16H16C7.16 64 0 71.16 0 80v352c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16v-48h512v48c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V240c0-61.86-50.14-112-112-112z"></path></svg>
                Sleep Diary
              </a>
            </li>
            <li>
              <a href="{{ url_for('get_login_page') }}" class="nav-link text-white">
                  <svg class="bi d-block mx-auto mb-1" width="29" height="28">
                      <use href="/static/img/bootstrap-icons.svg#person-circle"></use>
                  </svg>
                  User
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</header>
<div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info m-1 text-center mt-2">
                        {{ message }}
                    </div>
                {% endfor %}
            {%  endif %}
        {% endwith %}
    {% block body %}{% endblock %}
    {% block edit_notation %}{% endblock %}
    {% block edit_diary %}{% endblock %}
    {% block user %}{% endblock %}
    {% block login %}{% endblock %}
    <h6 class="text-danger text-center">{{ flask_env }}</h6>
    <h6 class="text-danger text-center">{{ flask_debug }}</h6>
</div>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
