{% extends 'base.html' %}


{% block body %}
<div class="row justify-content-center">
    <h4 class="alert alert-primary m-1 text-center">Добавление записи</h4>
</div>
<div class="container-fluid text-center mt-4">
    {# Форма добавления записи в дневник #}
    {% block addDreamNote %}{% endblock %}
    {# Страница редактирования дневника #}
    {% block edit_diary %}{% endblock %}
    {# Аккордион с записями дневника из бд #}
    <div class="accordion mt-5" id="week-menu">
        {% if amount_diary_entries == 0 %}
        <div class="alert alert-info m-1">
            У вас еще нет записей в дневнике сна
        </div>
        {% else %}
        {% for week_number, stats in enumerate(statistics, start=1) if
        amount_diary_entries > 0 %}
        {% if amount_diary_entries > 0 %}
        {#Неделя 1#}
        <div class="accordion-item">
            <div class="accordion-header">
                {# Кнопка(голова) аккордиона с неделями #}
                <div class="accordion-header">
                    <button class="accordion-button {% if week_number == 1 %}{% else %}collapsed{% endif %}"
                            type="button" data-bs-toggle="collapse"
                            data-bs-target="#week{{ week_number }}">
                        <b>Неделя {{ week_number }}</b>

                        {% if stats.week_length == 0 %}
                        <div class="alert alert-dark m-1">
                            Записи отсутствуют
                        </div>
                        {% else %}
                        {% if 0 < stats.week_length < 7 %}
                        <div class="alert alert-info m-1">
                            Количество
                            записей {{ stats.week_length }}/7
                        </div>
                        {% else %}
                        <div class="alert alert-success m-1">
                            Количество
                            записей {{ stats.week_length }}/7
                        </div>
                        {% endif %}
                        {% endif %}
                    </button>
                    {% endif %}
                </div>
                {# Тело аккордиона с неделями #}
                <div id="week{{ week_number }}"
                     {# Делает аккордион для недели show, если это первая неделя #}
                     {#
                     class="accordion-collapse collapse {% if week_number == 1 %}show{% endif %}"
                     #}
                     {# Делает аккордион для недели show, если он меньше 7 записей #}
                     class="accordion-collapse collapse {% if stats.week_length < 7 %}show{% endif %}"
                     data-bs-parent="#week-menu"> {# Дни show #}
                    <div class="accordion-body row justify-content-center">
                        <div class="col-12 col-md-8">
                            {# Дни #}
                            <div class="accordion" id="day-menu{{ week_number }}">
                                {% for day_number, entry in enumerate(diary_entries,
                                start=1) if day_number <= (week_number * 7) and
                                day_number > ((week_number - 1) * 7) %}
                                <div class="my-2">
                                    <!-- items -->
                                    <div class="accordion-item">
                                        {# Кнопка(голова) аккордеона с днями#}
                                        <div class="accordion-header">
                                            <button class="accordion-button collapsed"
                                                    type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#day{{ day_number }}">
                                                День {{ day_number }}
                                            </button>
                                        </div>

                                        {# Тело аккордеона с днями
                                        <!-- класс show делает пункт открытым -->#}
                                        <div id="day{{ day_number }}"
                                             class="accordion-collapse collapse"
                                             data-bs-parent="#day-menu{{ week_number }}">
                                            <div class="accordion-body">
                                                <p><b>Дата:</b> {{
                                                    entry.calendar_date }}</p>
                                                <p><b>Лег в</b> {{ entry.bedtime }} |
                                                    <b>Уснул
                                                        в</b> {{ entry.asleep }}</p>
                                                <p><b>Проснулся в</b> {{ entry.awake
                                                    }} | <b>Встал
                                                        в</b> {{ entry.rise }}</p>
                                                <p><b>Не спал минут - </b> {{
                                                    entry.without_sleep }} </p>
                                                <p><b>Время сна</b> - {{
                                                    entry.sleep_duration }} |
                                                    <b>Время в кровати</b>
                                                    - {{ entry.in_bed_duration }}</p>
                                                <h5>Эффективность сна
                                                    <b>{{ entry.sleep_efficiency
                                                        }}</b>
                                                    %<br></h5>
                                                <div class="mt-3">
                                                    <a href="/sleep/update/{{ entry.calendar_date }}"
                                                       class="btn btn-success">Редактировать</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {# Эффективность сна #}
                        <div class="col-12 col-md-4 mt-md-0">
                            <div class="border-bottom">
                                <h5>
                                    Средние показатели за неделю {{ week_number }}
                                </h5>
                            </div>
                            <br>
                            <div class="mt-2 ">
                                Эффективность сна<br>
                                <h3>{{ stats.average_sleep_efficiency_per_week }}
                                    %</h3>
                                Время сна
                                <h3>{{ stats.average_sleep_duration_per_week }}</h3>
                                Время проведенное в кровати<br>
                                <h3>{{ stats.average_time_in_bed_per_week }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}
