name: CI

on:
  push:
    branches-ignore: [master, development, api-ddd]
  pull_request:
    branches: [master, development, api-ddd]

jobs:
  pre-commit:
    name: Pre-commit проверки
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Run pre-commit
        uses: pre-commit/action@v3.0.0

  build-sleep-diary-app-image:
    name: Сборка образа Приложения, запуск сервиса PostgreSQL и запуск тестов приложения
    runs-on: ubuntu-22.04
    env:
      POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
      POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
      POSTGRES_HOST: ${{ secrets.POSTGRES_HOST }}
      POSTGRES_PORT: ${{ secrets.POSTGRES_PORT }}
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Создание ключей шифрования
        run: |
          openssl genrsa -out jwt-private.pem 2048 &&
          openssl rsa -in jwt-private.pem -outform PEM -pubout -out jwt-public.pem
      - name: Скачивание PostgreSQL
        run: |
          make pull-postgres
      - name: Запуск PostgreSQL
        run: |
          make up-postgres
      - name: Сборка Sleep Diary
        run: |
          make build
      - name: Запуск Sleep Diary
        run: |
          make up
      - name: Запуск unit тестов
        run: |
          make unit
      - name: Запуск integration тестов
        run: |
          make integration
      - name: Запуск e2e тестов
        run: |
          make e2e
      - name: Запуск всех тестов
        run: |
          make all
      - name: Остановка всех контейнеров
        run: |
          make down-all
